<div class="container" align="center">
  <h1>Hello there, <%= @current_user.name %> !</h1>
  <p>Manage your properties.</p>

<!-- HOME -->
  <div class="log_out">
    <form action="/" method="post">
      <input type="submit" value="Homepage">
    </form>
  </div>

<!-- DASHBOARD -->
<div class="dashboard">
  <form action="/dashboard" method="post">
    <input type="submit" value="Dashboard">
  </form>
</div>

<!-- LOG OUT -->
  <div class="log_out">
    <form action="/log_out" method="post">
      <input type="submit" value="Log Out">
    </form>
  </div>

<!-- EDIT FORM -->
<br>
  <form action="/property/<%= @current_property.id %>/edit" method="post">
    Title:
    <input name="title" type="text" value="<%= @current_property.title %>"><br>
    Description:
    <textarea name="description"><%= @current_property.description %></textarea><br>
    Address:
    <input name="address" type="text" value="<%= @current_property.address %>"><br>
    Price:
    <input name="price" type="text" value="<%= @current_property.price %>"><br>
    <input type="submit" value="Submit">
  </form>

<br>

<!-- DELETE  -->
  <form action='/property/<%= @current_property.id %>/delete' method="post">
      <input type="submit" value="DELETE">
  </form>

</div>