<div class="container" >

<% if session[:user_id].nil? %>
  <!-- REGISTER -->
    <div class="control">
      <button id="register" class="btn btn-primary">Register</button>
      <form action="/register" method="post">
        <input name="name" type="text" placeholder="Full Name">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input type="submit" value="Submit">
      </form>
    </div>

  <!-- LOG IN -->
    <div class="control">
      <button id="log_in" class="btn btn-primary">Log In</button>
      <form action="/log_in" method="post">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input type="submit" value="Submit">
      </form>
    </div>

<% elsif session[:user_id].nil? == false %>
  <p class="welcome"> Hello, <%= User.find(session[:user_id]).name %></p>
  <!-- DASHBOARD -->
  <div class="control">
    <form action="/dashboard" method="post">
      <input type="submit" value="Your Dashboard" class="btn btn-primary">
    </form>
  </div>

  <!-- LOG OUT -->
  <div class="control">
    <form action="/log_out" method="post">
      <input type="submit" value="Log Out" class="btn btn-primary">
    </form>
  </div>

<% end %>

<!-- HEADER GREETING -->
  <h1>Welcome to Simple AirBnb!</h1>
  <p>Browse through below for properties all over the world!</p>


<!-- DISPLAYS ALL PROPERTIES -->
  <div class="property_list">
    <h4>Properties</h4>
    <table class="table table-responsive">
      <tr>
        <th>Property</th>
        <th>Address</th>
      </tr>
      <% @properties.each do |property| %>
        <tr>
          <td>
            <a href="/property/<%= property.id %>">
              <%= property.title %>
            </a>
          </td>
          <td><%= property.address %></td>
        </tr>
      <% end %>
    </table>
  </div>

<!-- FILTER PROPERTIES BY TAGS -->
  <h4> Filter by tags </h4>
  <form action="/tags" method="post">
    <% Tag.all.each_with_index do |tag, i| %>
      <input name="<%="tags[" + tag.name + "]"%>" type="checkbox"> <%=tag.name%>
    <% end %>
    <br><br>
    <input type="submit" value="Filter">
  </form>


</div>

