<div class="container" align="center">
  <h2>Welcome to Simple AirBnb!</h2>
  <p>Looking to book this property?</p>

<!-- REGISTER -->
  <div class="register">
    <button id="register">Register</button>
    <form action="/register" method="post">
      <input name="name" type="text" placeholder="Full Name">
      <input name="email" type="text" placeholder="Email">
      <input name="password" type="text" placeholder="Password">
      <input type="submit" value="Submit">
    </form>
  </div>

<!-- LOG IN -->
  <div class="log_in">
    <button id="log_in">Log In</button>
    <form action="/log_in" method="post">
      <input name="email" type="text" placeholder="Email">
      <input name="password" type="text" placeholder="Password">
      <input type="submit" value="Submit">
    </form>
  </div>

<!-- DISPLAYS PROPERTY DETAILS -->
  <h4><%= @property.title %></h4>

    <table>
      <tr>
        <th>Description</th>
        <td><%= @property.description %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= @property.address %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td>$<%= @property.price %> per night</td>
      </tr>
      <tr>
        <th>Tags</th>
        <td><% @property.tags.each do |tag| %>
            <%= tag.name %>
        <% end %></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td><a href="mailto:<%= @property.user.email %>">
            <%= @property.user.name %></a>
        </td>
      </tr>
    </table>
</div>

