<div class="container">

<% if session[:user_id].nil? %>
  <!-- REGISTER -->
    <div class="control">
      <button id="register" class="btn btn-primary">Register</button>
      <form action="/register" method="post" >
        <input name="name" type="text" placeholder="Full Name">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input type="submit" value="Submit">
      </form>
    </div>

  <!-- LOG IN -->
    <div class="control">
      <button id="log_in" class="btn btn-primary">Log In</button>
      <form action="/log_in" method="post">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input type="submit" value="Submit">
      </form>
    </div>

<% elsif session[:user_id].nil? == false %>
  <p class="welcome"> Hello, <%= User.find(session[:user_id]).name %></p>
  <!-- DASHBOARD -->
  <div class="control">
    <form action="/dashboard" method="post">
      <input type="submit" value="Your Dashboard" class="btn btn-primary">
    </form>
  </div>

  <!-- LOG OUT -->
  <div class="control">
    <form action="/log_out" method="post">
      <input type="submit" value="Log Out" class="btn btn-primary">
    </form>
  </div>

<% end %>

<!-- HOME -->
  <div class="control">
    <form action="/" method="post">
      <input type="submit" value="Homepage" class="btn btn-primary">
    </form>
  </div>

<!-- HEADER WELCOME -->
  <h1>Welcome to Simple AirBnb!</h1>
  <p>Looking to book this property?</p>

<!-- DISPLAYS PROPERTY DETAILS -->
  <h4><%= @property.title %></h4>

    <table class="table table-responsive">
      <tr>
        <th>Description</th>
        <td><%= @property.description %></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><%= @property.address %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td>$<%= @property.price %> per night</td>
      </tr>
      <tr>
        <th>Tags</th>
        <td><% @property.tags.each do |tag| %>
            <%= tag.name %>
        <% end %></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td><a href="mailto:<%= @property.user.email %>">
            <%= @property.user.name %></a>
        </td>
      </tr>
    </table>
<hr>

<!-- BOOKING FORM -->
<div class="booking">
  <h4>Book this property:</h4>

  <form id="booking" action="/property/<%= @property.id %>/book" method="post">
  Start date:
    <select name="start_day" form="booking">
      <option> - Day - </option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <select name="start_month" form="booking">
      <option> - Month - </option>
      <option value="01">January</option>
      <option value="02">Febuary</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select name="start_year" form="booking">
      <option> - Year - </option>
      <option value="January">2015</option>
    </select>
  <br>
  End date:
    <select name="end_day" form="booking">
      <option> - Day - </option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <select name="end_month" form="booking">
      <option> - Month - </option>
      <option value="01">January</option>
      <option value="02">Febuary</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select name="end_year" form="booking">
      <option> - Year - </option>
      <option value="January">2015</option>
    </select>
    <br>
  <input type="submit" value="Book!">

  </form>
</div>

</div>

